.level-cards{
    width: 206px;
    height: 124px;
    background-color: #F3F6FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}
.level-card-left{
  width: 65px;
  height: 90px;
  display: flex;
  flex-direction: column;
  margin: 24px 0 0 24px;
}
.level-card-top{
  width: 190px;
  height: 106px;
  display: flex;
  align-items: center;
}
 .a1{
  background-color: #3b7ae9;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
} 
.level-card-right{
  display: flex;
  flex-direction: column;
}
.word-content , .word-content-2, .size-card{
  display: flex;
  flex-direction: row;
}
.size-card-in {
  background-color: #3B7AE9;
  width: 80px;
  height: 4px;
  border-radius: 5px;
  margin-top: 10px;
}
 .size-card-out{
  background-color: rgb(204, 204, 204);
  width: 30px;
  height: 4px;
  border-radius: 5px;
  margin-top: 10px;
 }
 .level-card-bottom{
  gap: 5px;
  margin-top: -12px;
  margin-left:  30px;
  display: flex;
  align-items: center;
 }
.name{
  font-weight: 500;
  font-size: 13px;
 }
