.hidebutton{
    border: 1px solid #dedede;
    background-color: #f3f6ff;
    border-radius: 10px;
    padding-right: 50px;
    outline: none;
    width: 189px;
    height: 40px;
}
.lesson-hidewords, .lesson-translateword{
    position: relative;
}
.switcher{
    top: 9px;
    position: absolute;
    right: 10px;
}
.plus-words ,.search-words{
    border: 1px solid #dedede;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 30px;
    background-color: #f3f6ff;
}
.button-components{
    padding-left: 325px;
}
.lesson-words{
    padding-top: 50px;
}
.components li{
    list-style: none;
}
.common-component{
    justify-content: flex-end;
}
.lesson-word-name{
    padding-right: 50px;
}
 